@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.back {
  position: absolute;
  left: 1rem;
  margin-top: 26px;
  font-size: 20px;
}

header .logo {
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 32px;
}

.icon_heart:hover i.fa-heart {
  display: none;
}

.icon_heart:hover i.fas.fa-heart {
  display: block;
}

.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 7rem;
}

.icon_heart_start:hover i.fa-heart {
  display: none;
}

.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -2rem;
}

i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}

i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.restaurants_title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 16px 0px -20px 0px;
  padding-top: 22px;
}

.nom_restau {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  margin: 0px 10px 0px 30px;
}

.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 1.7rem;
  margin: 1.2rem 0rem 2rem 0rem;
  margin-right: 50px;
}

.page_menu .fig_restaurants {
  position: relative;
  overflow: hidden;
  height: 260px;
}

.fig_restaurants img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_menu .restaurants_article {
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 45px 45px 0 0;
  margin-top: -55px;
}

.restaurants_section_title {
  margin-top: 40px;
  margin-bottom: -5px;
  margin-left: 26px;
  font-weight: 400;
}

.restaurants_section_title::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  width: 48px;
  height: 4px;
  margin-top: 5px;
}

.cards {
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
}

.cards p {
  font-size: 15px;
}

.cards_1 {
  animation: fadeInUp 1s ease-in-out;
}

.cards_2 {
  animation: fadeInUp 2s ease-in-out;
}

.cards_3 {
  animation: fadeInUp 3s ease-in-out;
}

.cards_4 {
  animation: fadeInUp 4s ease-in-out;
}

.cards h2 {
  font-size: 19px;
  margin-bottom: 8px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cards h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards:hover .restaurants_plats {
  width: 60%;
}

.check {
  background-color: #99e2d0;
  width: 0%;
  height: 100%;
  margin: 0px;
  right: 0px;
  top: 0px;
  padding: 0px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: absolute;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.check i {
  background-color: #99e2d0;
  color: white;
  font-size: 20px;
  border-radius: 100%;
}

.prix {
  position: absolute;
  padding: 2px 0px 2px 0px;
  margin-right: 0px;
  margin-left: 5px;
  right: 2%;
}

.cards:hover .prix {
  animation: translate_prices 0.4s forwards;
}

@keyframes translate_prices {
  0% {
    right: 2%;
  }
  100% {
    right: 24%;
  }
}

.cards:hover .check {
  animation: translate_check 0.5s forwards;
  visibility: visible;
}

@keyframes translate_check {
  0% {
    width: 0%;
  }
  100% {
    width: 18%;
  }
}

.cards:hover .check i {
  animation: rotate 0.4s forwards;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.restaurants_plats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurants_plats p {
  margin: 0;
}

.restaurants_plats div {
  margin-right: 2px;
  font-weight: bold;
}

.restaurants_section_footer {
  display: flex;
  justify-content: center;
}

.button {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin: 30px 0px 60px 0px;
}

.button:hover {
  opacity: 0.8;
}

footer {
  background-color: #332f2f;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
}

footer .fa-hands-helping {
  font-size: 14px;
}

footer ul {
  margin: 20px auto;
}

footer li {
  margin: 10px;
  list-style-type: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  margin-left: 14px;
  height: 20px;
  filter: invert(100%);
}

footer i {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header .logo {
    padding-left: 200px;
  }
  .back {
    margin-left: 40px;
  }
  .restaurants_title {
    justify-content: space-between;
  }
  .icon_heart {
    margin-right: 170px;
  }
  .nom_restau {
    margin-left: 170px;
  }
  .restaurants_section_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cards {
    width: 640px;
  }
  .check i {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  header .logo {
    padding-left: 500px;
  }
  .back {
    margin-left: 40px;
  }
  .restaurants_title {
    justify-content: space-between;
  }
  .restaurants_title .icon_heart {
    margin-right: 60px;
  }
  .nom_restau {
    margin-left: 50px;
  }
  .restaurants_section_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cards {
    width: 400px;
  }
  .cards_enchantee {
    margin-bottom: 45px;
    margin-top: 30px;
  }
  .check i {
    font-size: 28px;
  }
}
